In [3]:
import pandas as pd

In [24]:
# Q1. Load and inspect the dataset
df = pd.read_csv("sales_data.csv")

In [25]:
df.head()

,order_id,order_date,customer_id,customer_name,city,product,category,quantity,unit_price,payment_method
0,1001,2024-01-02,C001,Alice,New York,Laptop,Electronics,1,1200,Credit Card
1,1002,2024-01-02,C002,Bob,Los Angeles,Headphones,Electronics,2,150,PayPal
2,1003,2024-01-03,C003,Charlie,New York,Office Chair,Furniture,1,350,Credit Card
3,1004,2024-01-03,C001,Alice,New York,Mouse,Electronics,3,25,Debit Card
4,1005,2024-01-04,C004,Diana,Chicago,Desk,Furniture,1,500,Bank Transfer

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        10 non-null     int64
 1   order_date      10 non-null     object
 2   customer_id     10 non-null     object
 3   customer_name   10 non-null     object
 4   city            10 non-null     object
 5   product         10 non-null     object
 6   category        10 non-null     object
 7   quantity        10 non-null     int64
 8   unit_price      10 non-null     int64
 9   payment_method  10 non-null     object
dtypes: int64(3), object(7)
memory usage: 932.0+ bytes

In [28]:
# Q2. Create a new column for total order value
df = df.assign(
    total_amount = df["quantity"] * df["unit_price"]
)

In [29]:
df.head()

,order_id,order_date,customer_id,customer_name,city,product,category,quantity,unit_price,payment_method,total_amount
0,1001,2024-01-02,C001,Alice,New York,Laptop,Electronics,1,1200,Credit Card,1200
1,1002,2024-01-02,C002,Bob,Los Angeles,Headphones,Electronics,2,150,PayPal,300
2,1003,2024-01-03,C003,Charlie,New York,Office Chair,Furniture,1,350,Credit Card,350
3,1004,2024-01-03,C001,Alice,New York,Mouse,Electronics,3,25,Debit Card,75
4,1005,2024-01-04,C004,Diana,Chicago,Desk,Furniture,1,500,Bank Transfer,500

In [31]:
# Q3. Filter high-value orders
high_value_orders = df.query("total_amount > 500")

In [33]:
high_value_orders.head()

,order_id,order_date,customer_id,customer_name,city,product,category,quantity,unit_price,payment_method,total_amount
0,1001,2024-01-02,C001,Alice,New York,Laptop,Electronics,1,1200,Credit Card,1200
5,1006,2024-01-04,C005,Eve,Chicago,Laptop,Electronics,1,1100,Credit Card,1100
6,1007,2024-01-05,C002,Bob,Los Angeles,Monitor,Electronics,2,300,Debit Card,600
8,1009,2024-01-06,C006,Frank,Miami,Tablet,Electronics,1,600,Credit Card,600

In [34]:
high_value_orders.shape

(4, 11)

In [39]:
# Q4. Count how many orders each customer made

# Đếm giá trị NaN
orders_per_customer = (
    df
    .groupby("customer_id")
    .size()
    .reset_index(name="order_count")
)

In [40]:
orders_per_customer

  customer_id  order_count
0        C001            3
1        C002            2
2        C003            2
3        C004            1
4        C005            1
5        C006            1

In [41]:
# Đếm giá trị không NaN
orders_per_customer = (
    df
    .groupby("customer_id")["order_id"]
    .count()
    .reset_index(name="order_count")
)

In [42]:
orders_per_customer

  customer_id  order_count
0        C001            3
1        C002            2
2        C003            2
3        C004            1
4        C005            1
5        C006            1

In [43]:
# Q5. Calculate total spending per customer
total_spending_per_customer = (
    df
    .groupby("customer_id")
    .agg(total_spent=("total_amount", "sum"))
    .reset_index()
)

In [44]:
total_spending_per_customer

  customer_id  total_spent
0        C001         1355
1        C002          900
2        C003          440
3        C004          500
4        C005         1100
5        C006          600

In [45]:
# Q6. Daily revenue analysis
parse_dates=["order_date"]

In [46]:
daily_revenue = (
    df
    .groupby("order_date")
    .agg(daily_revenue=("total_amount", "sum"))
    .sort_values("order_date")
    .reset_index()
)

In [47]:
daily_revenue

   order_date  daily_revenue
0  2024-01-02           1500
1  2024-01-03            425
2  2024-01-04           1600
3  2024-01-05            690
4  2024-01-06            680

In [48]:
# Q7. Rank customers by spending
ranked_customers = (
    total_spending_per_customer
    .assign(
        rank = total_spending_per_customer["total_spent"]
               .rank(method="dense", ascending=False)
    )
    .sort_values("rank")
)